@charset "utf-8";

body{
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}


header .container{
  background-color: #eee;
  /* display: flex; */
  justify-content: center;
  padding-top: 16px;
  width: auto;
  margin: auto;
  line-height: 10px;
}

.hd1{
  /* background-color: aquamarine; */
  flex: 1;
  margin: auto;
  padding: 0;
  text-align: center;
}

.hd1 img{
  /* background-color: aqua; */
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}

.hd2{
  /* background-color: antiquewhite; */
  /* flex: 2;
  margin: auto;
  padding: 0; */
  flex: 2;
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 20px;
}
.hd3{
  font-weight: normal;
  font-size: 12px;
  margin: auto;
  padding: 0;
  text-align: center;
}
.hd3 ul li{
  list-style-type: none;
  margin: 12px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.hd3 ul{
  display: flex;
  margin: auto;
  padding: 10px;
  text-align: center;
}
/* .page{
  display: flex;
} */

.btn{
  text-decoration: none;
  background: #fff;
  color: #f59a00;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover{
  opacity: 0.9;
}

.features img{
  width: 100%;
}
.features > h1{
  text-align: center;
  font-size: 32px;
  margin: 65px 32px;
  /* margin: auto; */
}

.img1{
  width: 100px;
  height: 30px;
  margin-left: 20px;
  margin-right: auto;
  position: fixed;
  z-index: 10;
}

.img1 h1{
  text-align: center;
  padding: 64px 0;
  font-size: 64px;
}

/* .info h1{
  width: calc(50% - 30px);
} */

.features .container{
  margin: 20px 10px 20px 10px;
}
section .info{
  position: relative;
  z-index: 10;
  margin-left: 20px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 1.9;
  padding-left: auto;
}


section .item2{
  position: relative;
  z-index: 10;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.9;
}
section .info h1{
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 20px;
}

.features p{
  line-height: 1.9;
  font-size: 14px;
  margin: auto;
  /* margin-left: 40px; */
}

.features section{
  margin-bottom: 60px;
}

.members{
  background: #f2f2f3;
  padding: 48px 0px 64px 0px;
}

.members > h1{
  font-size: 32px;
  text-align: center;
  padding: 64px 0px 0px;
  margin: 20px 0px 0px;
}
.members > p{
  text-align: center;
  padding: 0px;
  margin: 20px 0px 64px;
  font-weight: normal;
  position: relative;
  z-index: 20;
}

.members ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.members img{
  width: 160px;
  border-radius: 50%;
}

.members h2{
  font-size: 20px;
}

.members li{
  padding-bottom: 64px;
  position: relative;
  z-index: 20;
}
.container1{
  position: relative;
  z-index: 20;
}

.call-to-action{
  background: #f59a00;
  color: #333;
  text-align: center;
  padding-top: 40px;
}

.call-to-action h1{
  font-weight: normal;
  position: relative;
  z-index: 20;
}
.call-to-action h2{
  text-align: right;
  margin-right: 36px;
  padding-top: 32px 0;
  margin-bottom: 0;
}

.call-to-action .btn{
  margin: 0 auto;
}

footer{
  padding: 90px 0;
  background: #323135;
  color: #98969c;
  text-align: center;
}
.contact{
margin: auto;
text-align: center;
position: relative;
z-index: 30;
}


@media (min-width:860px){
  header .container{
    display: flex;
    width: auto;
    margin: auto;
    padding: 10px;
  }

  header .info{
    width: 60%;
    align-self: center;
  }

  header .pic{
    width: 40%;
  }
.hd1{
  flex: 1;
}
.hd2{
  flex: 2;
}
.hd3{
  flex: 3;
}
  .features h1{
    text-align: center;
    font-size: 24px;
    margin: auto;
    padding: auto;
  }

  .features > h1{
    text-align: center;
    font-size: 32px;
    margin: 65px 32px;
    /* margin: auto; */
  }

  .img1{
    margin-right: auto;
    margin-left: 20px;
  }
 

  .features section{
    display: flex;
    justify-content: space-between;
  }

  .features section:nth-child(odd){
    flex-direction: row-reverse;
  }

  .features .pic{
    width: 50%;
  }

  .features .info{
    width: calc(50% - 30px);
    line-height: 60px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .members ul{
    width: 300px;
    margin: auto;
    /* display: flex; */
    justify-content: space-between;
  }

  .members li{
    width: 300px;
    margin: auto;
  }
}

.info > h1{
  font-size: 24px;
  margin-bottom: 36px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  line-height: 60px;
  text-align: center;
}


.item{
  display: flex;
}
.item1{
  line-height: 40px;

}
.item2 li{

  line-height: 40px;
  list-style-type: none;
  text-align: end;
}

.container1{
/* background-color: salmon; */
text-align: center;
padding: 0px 0px 30px;
margin: 0;
line-height: 0.8em;
}

.inputs{
  width: 20em;
  height: 24px;
}
.inputs1{
  width: 20em;
  height: 64px;
}
.huku a img{
  width: 93px;
  height: 124px;
  margin-left: 20px;
  margin-right: auto;
  position: relative;
  z-index: 20;
}
.contact{
  margin: auto;
  text-align: center;
  }


@media (min-hight:250px){
  .img1{
    position: relative;
  }
}